*{
    text-align: center;
    background-color: blue;
}
#container{
    display: flex;
    flex-direction: column;
    padding: 3rem;
    border-radius: 2rem;
    width: 60%;
    font-size: 2rem;
    margin-left: auto;
    margin-right: auto;
    border: solid black 3px;
}
h1{
    background-color: navy;
    color: white;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    padding: 2rem;
    border-radius: 2rem;
}
#Date-Of-Birth{
    width: 40%;
    margin: auto;
    background-color:wheat;
    padding: 0.90rem;
    border-radius: 0.5rem;
    cursor: pointer;
}
.spacer{
    padding: 5rem;
    border: solid black 2px;
    background-color: red;
}
#Lucky-number{
    width: 40%;
    margin: auto;
    background-color: wheat;
    padding: 0.90rem;
    border-radius: 0.5rem;
    cursor: pointer;
}
#check-button{
    background-color: A;
    width: 20%;
    margin: auto;
    margin-top: 1rem;
    border: 2px solid black;
    border-radius: 0.5rem;
    cursor: pointer;
    padding: 0.90rem;
}
label {
    font-weight: 500;
    font-size: larger;
    padding-top: 0.5rem;
  }
::placeholder{
    color: black;
}

#out-put{
    padding: 2rem;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    background-color: pink;
    font-size: 2rem;
    border-radius: 2rem;
    border: solid black 2px;
}
